<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>This is missions</h1>
<ul class="missions">
    <li><a href="missions/0">Spirit</a></li>
    <li><a href="missions/1">Opportunity</a></li>
    <li><a href="missions/2">Curiosity</a></li>
    <li><a href="missions/3">Sojourner</a></li>
    <li><a href="missions/4">Rosetta</a></li>
</ul>
</body>
</html>